.contact {
    display: flex;
    border-radius: 4px;
    cursor: pointer;
    padding: 15px;
    box-sizing: border-box;
    transition-duration: 200ms;
}
.contact:hover {
    background-color: #fff;
    box-shadow: 0 -0.1px 5px rgba(194, 191, 191, 0.226);
}
.avatar, .time-last-message {
    line-height: 40px;
}
.name-mess {
    flex: 1;
}
.name {
    margin-bottom: 1px;
    color: #2c2b2b;
    font-weight: 550;
}
.avatar {
    margin-right: 15px;
    box-shadow: 0 px 5px rgba(194, 191, 191, 0.719);
    height: 40px;
    width: 40px;
    font-size: 19px;
    text-align: center;
    border-radius: 100%;
    color: #fff;
    background: linear-gradient(#c4edf9, #72a1e7);
}
.time-last-message {
    text-align: end;
    color: #c9c9ca;
    font-size: 12px;
}
.bgc-white {
    background-color: #fff;
    box-shadow: 0 -0.1px 5px rgba(194, 191, 191, 0.226);
}
.online-contact {
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: #55c661;
    position: relative;
    border: 1px solid #fff;
    left: 30px;
    bottom: 38px;
}