.inner-message-in {
    display: flex;
}
.message-in {
    background-color: #f1f5f9;
    padding: 13px 10px 3px 10px;
    box-sizing: border-box;
    border-radius: 13px 13px 13px 0;
    font-weight: 500;
    max-width: 350px;
    min-width: 190px;
    word-break: break-all;
}
.in-time {
    font-size: 12px;
    font-weight: 600;
    text-align: end;
}
.avatar-chat {
    height: 35px;
    width: 35px;
    line-height: 35px;
    font-size: 16px;
    align-self: flex-end;
    margin-right: 15px;
    text-align: center;
    border-radius: 100%;
    color: #fff;
    background: linear-gradient(#c4edf9, #72a1e7);

}