.messengers {
    border-radius: 4px;
    padding: 25px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 -0.1px 5px rgba(194, 191, 191, 0.226);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.instagram, .twitter, .facebook {
    cursor: pointer;
}
.instagram, .twitter {
    margin-bottom: 25px;
}
.social {
    margin-bottom: 20px;
}
.social-block {
    margin-bottom: 30px;
}
.ico {
    margin-right: 10px;
    float: left;
    width: 13px;
    color: #a7b8ce;
}
.info-bar {
    width: 300px;
    background-color: #f7f8f9;
    padding: 60px 25px 0 25px;
    transition-property: width;
    animation: show-bar 300ms forwards;
    animation-timing-function: ease-in;
}
@keyframes show-bar {
    0% {
        width: 100px;
        transform: translateX(100%);
    }
    25% {
        width: 120px;
        transform: translateX(75%);
    }
    50% {
        width: 160px;
        transform: translateX(50%);
    }
    75% {
        width: 240px;
        transform: translateX(25%);
    }
    100% {
        width: 300px;
        transform: translateX(0);
    }
}