.main {
    flex: 1;
    animation-timing-function: ease-in;
}
.inner-main {
    display: flex;
    padding: 0 45px;
    overflow-y: scroll;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}
.inner-main::-webkit-scrollbar {
    width: 0;
}
.no-selected {
    background-color: rgba(182, 181, 181, 0.171);
    margin: auto;
    text-align: center;
    width: 315px;
    border-radius: 20px;
    padding: 6px 0;
}