.setting {
  flex: 1.1;
  text-align: end;
  transition: 1s all;
}
.setting-span {
  font-size: 24px;
}

.setting-rotate-back {
  animation: rotate-back 1 500ms linear forwards;
}

.setting-rotate {
  animation: rotate 1 350ms linear forwards;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(60deg);
  }
}

@keyframes rotate-back {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-120deg);
  }
}

.github {
  font-size: 21px;
  color: #94a6be;
}

.github:hover {
  color: #454e60;
}

.github-link {
  position: relative;
  left: -10px;
  top: -3px;
}