.connect {
    display: flex;
    color: #a7b8ce;
    margin-top: 18px;
}
.nickname {
    color: #7a7b7b;
}
.info-contact {
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
}
.info-fullname {
    font-weight: 500;
    margin: 25px 0 16px 0;
}

.big-avatar {
    width: 65px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    border-radius: 100%;
    background: linear-gradient(#c4edf9, #72a1e7);
    color: #fff;
    font-size: 25px;
}
.icons-connect {
    cursor: pointer;
}
.videocam {
    margin: 0 30px;
}