html {
  font-family: 'Roboto', sans-serif;
}
.app {
  max-width: 1920px;
  margin: auto;
  display: flex;
}
.sidebar {
  background-color: #f7f8f9;
  padding: 15px 20px;
  width: 330px;
  height: 100vh;
  box-sizing: border-box;
  overflow-y: scroll;
}
.sidebar::-webkit-scrollbar {
  width: 0;
}
.search-contact {
  margin-bottom: 20px;
  position: sticky;
  top: 0.1px;
}
.input-search-contact {
  border: 0;
  border-radius: 5px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 0 10px 34px;
  box-shadow: 0 -0.1px 5px rgba(194, 191, 191, 0.226);
}
.contact {
  display: flex;
  border-radius: 4px;
  cursor: pointer;
  padding: 15px;
  box-sizing: border-box;
}
.contact:hover {
  background-color: #fff;
  box-shadow: 0 -0.1px 5px rgba(194, 191, 191, 0.226);
}
.avatar, .time-last-message {
  line-height: 40px;
}
.name-mess {
  flex: 1;
}
.name {
  margin-bottom: 1px;
  color: #2c2b2b;
  font-weight: 550;
}
.avatar {
  margin-right: 15px;
  box-shadow: 0 px 5px rgba(194, 191, 191, 0.719);
  height: 40px;
  width: 40px;
  font-size: 19px;
}
.avatar-chat {
  height: 35px;
  width: 35px;
  line-height: 35px;
  font-size: 16px;
  align-self: flex-end;
  margin-right: 15px;
}
.avatar, .avatar-chat {
  text-align: center;
  border-radius: 100%;
  color: #fff;
  background: linear-gradient(#c4edf9, #72a1e7);
}
.time-last-message {
  text-align: end;
  color: #c9c9ca;
  font-size: 12px;
}
.circle-preloader {
  margin-right: 15px;
}
.no-selected {
  background-color: rgba(182, 181, 181, 0.171);
  margin: auto;
  text-align: center;
  width: 315px;
  border-radius: 20px;
  padding: 6px 0;
}
.icon-search-sidebar {
  color: #767676;
  position: relative;
  bottom: 30px;
  left: 11px;
  font-size: 21px;
}
.last-message {
  color: #8f9090;
}
.main {
  flex: 1;
}
.inner-main {
  display: flex;
  padding: 0 45px;
  overflow-y: scroll;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}
.inner-main::-webkit-scrollbar {
  width: 0;
}
.header {
  display: flex;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid rgba(221, 217, 217, 0.562);
  margin-bottom: 25px;
  position: sticky;
  top: 0.1px;
  background-color: #fff;
}
.preloader {
  margin-right: 5px;
}
.info-bar {
  width: 300px;
  background-color: #f7f8f9;
  padding: 60px 25px 0 25px;
}
.icon-search-chat, .setting-span, .clear-input {
  color: #a4b5cc;
  cursor: pointer;
}
.icon-search-chat {
  position: absolute;
  font-size: 22px;
  top: 17px;
}
.setting-span {
  font-size: 24px;
}
.icon-search-chat:hover, .setting-span:hover, .clear-input:hover {
  color: #89a3c4;
}
.search-message-input {
  border: 0;
  outline: none;
  box-shadow: 0 -0.1px 5px rgba(194, 191, 191, 0.384);
  padding: 4px 0 4px 22px;
  width: 230px;

}
.header-input-container {
  display: flex;
}
.search-message {
  flex: 1;
}
.setting {
  flex: 1.1;
}
.clear-input {
  font-size: 18px;
  position: relative;
  right: 20px;
  top: 4px;
}
.name-chat {
  font-weight: 600;
  margin-right: 8px;
}
.name-container {
  display: flex;
  justify-content: center;
}
.online-chat {
  width: 8px;
  height: 8px;
  align-self: center;
  border-radius: 100%;
  background-color: #55c661;
}
.setting {
  text-align: end;
}
.message-out-box {
  padding: 13px 10px 3px 10px;
  background-color: #632df8;
  color: #f3effe;
  max-width: 350px;
  min-width: 190px;
  border-radius: 13px 13px 0;
  word-break: break-all;
  align-self: flex-end;
  box-sizing: border-box;
}
.message-out {
  font-weight: 500;
}
.out-time-box {
  font-size: 11px;
  font-weight: 550;
  display: flex;
  justify-content: flex-end;
}
.out-time {
  align-self: flex-end;
  margin-right: 8px;
}
.inner-message-in {
  display: flex;
}
.message-in {
  background-color: #f1f5f9;
  padding: 13px 10px 3px 10px;
  box-sizing: border-box;
  border-radius: 13px 13px 13px 0;
  font-weight: 500;
  max-width: 350px;
  min-width: 190px;
  word-break: break-all;
}
.in-time {
  font-size: 12px;
  font-weight: 600;
  text-align: end;
}
.message-info {
  margin-top: 10px;
  margin-bottom: 25px;
  background-color: #f7f8f9;
  text-align: center;
  width: 190px;
  border-radius: 24px;
  padding: 7px 0;
  align-self: center;
}
.chat {
  flex: 1;
}
.message {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.footer {
  align-items: flex-end;
  position: sticky;
  bottom: 0.1px;
}
.footer-child {
  display: flex;
  border-top: 1px solid rgba(221, 217, 217, 0.562);
  background-color: #fff;
}
.send-message-input {
  padding: 20px 10px;
  border: 0;
  outline: none;
  flex: 1;
}
.empty-div {
  width: 18px;
}
.send {
  align-self: center;
  padding-right: 15px;
  color: #767676;
}
.send span {
  cursor: pointer;
}
.clip {
  margin-right: 18px;
}
.connect {
  display: flex;
  color: #a7b8ce;
  margin-top: 18px;
}
.nickname {
  color: #7a7b7b;
}
.big-avatar, .nickname, .connect, .info-fullname {
  align-self: center;
}
.info-fullname {
  font-weight: 500;
  margin: 25px 0 16px 0;
}
.fullname {
  flex: 1;
}
.updating-box {
  display: flex;
}
.updating {
  align-self: center;
}
.autorenew {
  font-size: 23px;
  animation-name: preloading;
  animation-duration: 650ms;
  animation-iteration-count: infinite;
  animation-delay: 0s;
}
.autorenew-box {
  margin-right: 3px;
}
@keyframes preloading {
  0% {-webkit-transform: rotate(0deg);}
  5% {-webkit-transform: rotate(20deg);}
  10% {-webkit-transform: rotate(45deg);}
  15% {-webkit-transform: rotate(70deg);}
  25% {-webkit-transform: rotate(90deg);}
  40% {-webkit-transform: rotate(130deg);}
  50% {-webkit-transform: rotate(180deg);}
  65% {-webkit-transform: rotate(220deg);}
  75% {-webkit-transform: rotate(270deg);}
  90% {-webkit-transform: rotate(330deg);}
  100% {-webkit-transform: rotate(360deg);}
}
.big-avatar {
  width: 65px;
  height: 65px;
  line-height: 65px;
  text-align: center;
  border-radius: 100%;
  background: linear-gradient(#c4edf9, #72a1e7);
  color: #fff;
  font-size: 25px;
}
.info-friend {
  display: flex;
  flex-direction: column; 
  margin-bottom: 70px;
}
.videocam {
  margin: 0 30px;
}
.call:hover, .videocam:hover, .email:hover,
.instagram:hover .fa-instagram, .twitter:hover .fa-twitter, .facebook:hover .fa-facebook-f {
  color: #7c98bb;
} 
.ico {
  margin-right: 10px;
  float: left;
  width: 13px;
  color: #a7b8ce;
}
.messengers {
  border-radius: 4px;
  padding: 25px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 -0.1px 5px rgba(194, 191, 191, 0.226);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.instagram, .twitter, .facebook {
  cursor: pointer;
}
.instagram, .twitter {
  margin-bottom: 25px;
}
.social {
  margin-bottom: 20px;
}
.social-block {
  margin-bottom: 30px;
}
.icons-connect {
  cursor: pointer;
}
.check {
  font-size: 14px;
}
.bgc-white {
  background-color: #fff;
}
