.message-out-box {
    padding: 13px 10px 3px 10px;
    background-color: #632df8;
    color: #f3effe;
    max-width: 350px;
    min-width: 190px;
    border-radius: 13px 13px 0;
    word-break: break-all;
    align-self: flex-end;
    box-sizing: border-box;
}
.message-out {
    font-weight: 500;
}
.out-time-box {
    font-size: 11px;
    font-weight: 550;
    display: flex;
    justify-content: flex-end;
}
.out-time {
    align-self: flex-end;
    margin-right: 8px;
}
.check {
    font-size: 14px;
}